<div class="debtors-container">
    <div class="debtor-item" *ngFor="let debtor of debtors">
        <p>
            {{debtor.id}}
            {{debtor.name}}
            {{debtor.lastname}}
            {{debtor.age}}
            {{debtor.debt}}
            {{debtor.isTarget}}
            {{debtor.location}}
        </p>
        <button (click)="openDialog(debtor.id)">Edit</button>
    </div>
</div>