<h1 mat-dialog-title>Dodaj dłużnika</h1>
<div mat-dialog-content>

  <mat-form-field class="example-full-width">
    <mat-label>Imię</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
<br />
  <mat-form-field class="example-full-width">
    <mat-label>Nazwisko</mat-label>
    <input matInput [(ngModel)]="data.lastname">
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <mat-label>Wiek</mat-label>
    <input matInput [(ngModel)]="data.age" type="number">
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <mat-label>Zadłużenie</mat-label>
    <input matInput [(ngModel)]="data.debt" type="number">
  </mat-form-field>
  <br />
<label id="example-radio-group-label">Czy dłużnik jest celem?</label>
<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="data.isTarget">
  <mat-radio-button class="example-radio-button" [value]="true">Tak</mat-radio-button>
  <mat-radio-button class="example-radio-button" [value]="false">Nie</mat-radio-button>
</mat-radio-group>
<br />
<label id="example-radio-group-label">Lokalizacja dłużnika </label>
<br />
<label id="example-radio-group-label">{{data.location}}</label>
<div class="map-container">
    <app-map [(debtorLocation)]="data.location"></app-map>
</div>
<br />

</div>

<div mat-dialog-actions>
   <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Dodaj</button> 
</div>